.timeline {
  position: relative;
  width: 49%;
  font-size: 20px;
  margin: 65px auto;
  z-index: 1;
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .timeline {
    width: 90%;
    padding: 55px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    height: 50px;
  }

  .align div:nth-child(1) a {
    font-size: 20px;
  }

  .align div:nth-child(1) form {
    position: unset;
  }

  .arrowDropdown {
    margin-top: 15px;
    height: 23px;
    width: 23px;
  }

  .timeline {
    width: 100%;
    padding-left: 55px;
  }

  .sideBarRight {
    display: none;
  }

  .page {
    margin: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .timeline {
    width: 100%;
  }

  .sideBarRight {
    width: 15%;
  }
}
