.logoutIcon {
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar {
  top: 0;
  left: 0;
  color: black;
  display: inline-flex;
  position: fixed;
  height: 65px;
  width: 100%;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  z-index: 5;
}

.searchForm {
  display: flex !important;
  height: 100%;
  margin: auto;
}
.searchInput {
  width: 0px;
  transition: width 0.5s;
  overflow: hidden;
  border: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  border-radius: 8px;
}

.searchIcon {
  margin-left: -40px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  cursor: pointer;
}

.searchInput:focus {
  outline: none !important;
  border: 0;
  box-shadow: 0;
}

.searchForm:hover .searchInput {
  border: 1.5px solid #26b6ea;
  width: 90%;
  transition: width 0.5s;
}

.align {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
}

.align div:nth-child(1) form {
  position: absolute;
  font-size: 20px;
  color: black;
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.align div:nth-child(1) form > * {
  margin-right: 10px;
}

.align {
  vertical-align: middle;
}

.logo {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: zpx;
  z-index: 5;
  color: black;
  vertical-align: middle;
}

.logo a > * {
  margin-right: 5px;
}

.logo a {
  height: min-content;
  margin: auto;
  display: flex;
  text-decoration: none;
  color: black;
  font-size: 25px;
  justify-content: center;
}

.logo a:hover {
  height: min-content;
  margin: auto;
  display: flex;
  text-decoration: none;
  color: black;
}

.align div:nth-child(2) img {
  position: relative;
  width: 80%;
  height: 80%;
  margin: auto;
}

.arrowDropdown {
  right: 10px;
  margin-top: 20px;
  border: 2px solid white;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  z-index: 5;
  color: black;
  cursor: pointer;
}

.dropdown {
  display: flex;
}
.dropdownNavbar,
.dropdownNavbar:not(:disabled):not(.disabled).active,
.dropdownNavbar:not(:disabled):not(.disabled):active,
.show > .dropdownNavbar.dropdown-toggle {
  margin: auto;
  background-color: transparent !important;
  color: black !important;
  border: 0 !important;
  box-shadow: 0 0 0 0rem !important;
  font-size: 20px !important;
}

.show > .dropdownNavbar.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem !important;
}
